body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/deco/bac.svg') no-repeat center center fixed;
    background-size: contain;
    font-family: 'NeoDunggeunmo', Arial, sans-serif;
  }

button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
}

/*bak-button*/
.bak-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 900;
}

/*deco*/
.deco-wrap {
    width: 430px;
    height: 932px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.char {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
}
/*eyes*/
.char-eyes{
    position: absolute;
    width: 120px;
    top: 198px;
    left: 152px;
    display: flex;
    justify-content: center;
    z-index: 600;
}
.char-eyes>img{
    position: relative;
    transform: scale(1.1);
    z-index: 600;
}
/*hat*/
.char-hat{
    position: absolute;
    width: 120px;
    top: 102px;
    transform: scale(1.2);
    left: 156px;
    display: flex;
    justify-content: center;
    z-index: 600;
}
/*뒷배경-하트*/
.char-accessory{
    position: absolute;
    width: 120px;
    top: 102px;
    transform: scale(0.9);
    left: 156px;
    display: flex;
    justify-content: center;
    z-index: 1;
}
/*pet*/
.char-pet{
    position: absolute;
    width: 120px;
    top: 275px;
    transform: scale(1.0);
    left: 20px;
    display: flex;
    justify-content: center;
    z-index: 600;
}
/*bag*/
.char-bag{
    position: absolute;
    width: 120px;
    top: 241px;
    transform: scale(1.0);
    left: 276px;
    display: flex;
    justify-content: center;
    z-index: 600;
}

/*배경*/
.char01-img {
    width: 261px;
    height: 253.3px;
    object-fit: contain; /* 이미지가 지정된 크기에 맞춰 조정되도록 설정 */
    object-position: center; /* 이미지가 중앙에 위치하도록 설정 */
    z-index: 100;
}

.char02-img {
    position: absolute;
    z-index: 50;
}

.char03-img {
    position: absolute;
    top: 200px;
    z-index: 30;
}

/*box*/
.box {
    width: 100%;
    height: 520px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.nav-btn {
    position: absolute;
    top:-40px;
    z-index: 150; /* nav-box보다 높게 설정 */
}

.nav-img {
    z-index: 150; /* nav-box보다 높게 설정 */
}

.decos-img{
    position: absolute;
    top:14px;
    left: 40px;
}
.shop-img{
    position: absolute;
    top:22px;
    left: 130px;
}
.jewel-img{
    position: absolute;
    top: 27px;
    left: 205px;
}
.face-img{
    position: absolute;
    top: 27px;
    left: 280px;
}
/*nav-box*/
.nav-box {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    box-sizing: border-box;
    padding: 70px 17px 10px 17px; /* 위쪽, 오른쪽, 아래쪽, 왼쪽 padding 설정 */
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* 한 줄에 3개씩 배치되도록 간격 설정 */
    justify-content: flex-start; /* 가로 왼쪽 정렬 */
    align-content: flex-start; /* 세로 시작점 정렬 */
}

/* 한 줄에 3개씩 배치되도록 너비 조정 */
.one-box {
    flex: 0 0 122px; /* 122px 너비 설정 */
    height: 122px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.one-box > img {
    max-width: 100%; 
    max-height: 100%; 
}

