@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: contain;
  font-family: 'NeoDunggeunmo', Arial, sans-serif;
}
button{
  background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer

}
.timer-wrap{
  width: 430px;
  height: 932px;
    position: relative;  
    background: url('../img/timer-bak.svg') no-repeat center center;
  
}
/* progress bar */
.time-bar{ 
    margin: 0 auto;
    width: 387px;
    height: 27px;    
    margin-bottom: 40px;
    position: relative;
    z-index: 100;
}
#time-bar{
    -webkit-appearance: none;
    position: absolute;
    top:132px;
}
#time-bar::-webkit-progress-bar{
    background-color: #B6D1E6 ;
    border-radius: 12px;

    width: 387px;
    height: 27px;
    margin: 20px auto;
    overflow: hidden;
}
#time-bar::-webkit-progress-value{
    background-color: #6CAADD ;
    border-radius: 0px;
    height: 28px;
    width: 48px;
    /* Include the character image in the progress bar */
    background-image: url("{% static 'img/mini-char.svg' %}");
    background-repeat: no-repeat;
    background-size: cover;
}
#time-bar[value]::after{
    background-image: url("{% static 'img/mini-char.svg' %}" );
}
/*bak-button*/
.bak-button{
  position: absolute;
  top:20px;
  left:20px;
}
/*bubble*/.bubble-wrap {
  width: 430px;
  height: 430px;
  margin-top: 250px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.bubble-img {
  position: absolute;
  width: 430px;
  height: 440px;
  object-fit: cover;
}

/* Bubble */
.bubble {
  height: 45px;
  width: 45px;
  border: 4px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  animation: animate 10s linear infinite;
  z-index: 150;
}

.bubble:nth-child(1) { top: 20%; left: 20%; animation-duration: 8s; }
.bubble:nth-child(2) { top: 60%; left: 80%; animation-duration: 10s; }
.bubble:nth-child(3) { top: 40%; left: 40%; animation-duration: 3s; }
.bubble:nth-child(4) { top: 66%; left: 30%; animation-duration: 7s; }
.bubble:nth-child(5) { top: 90%; left: 10%; animation-duration: 9s; }
.bubble:nth-child(6) { top: 30%; left: 60%; animation-duration: 5s; }
.bubble:nth-child(7) { top: 55%; left: 30%; animation-duration: 8s; }
.bubble:nth-child(8) { top: 75%; left: 60%; animation-duration: 10s; }
.bubble:nth-child(9) { top: 50%; left: 50%; animation-duration: 6s; }
.bubble:nth-child(10) { top: 45%; left: 20%; animation-duration: 10s; }
.bubble:nth-child(11) { top: 10%; left: 90%; animation-duration: 9s; }
.bubble:nth-child(12) { top: 20%; left: 70%; animation-duration: 7s; }
.bubble:nth-child(13) { top: 20%; left: 20%; animation-duration: 8s; }
.bubble:nth-child(14) { top: 60%; left: 5%; animation-duration: 6s; }
.bubble:nth-child(15) { top: 90%; left: 80%; animation-duration: 9s; }

/* Tity */
.tity {
  position: absolute;
  width: 40px; /* 십자의 너비 조정 */
  height: 40px; /* 십자의 높이 조정 */
  background: transparent;
  animation: animate 10s linear infinite;
  z-index: 150;
}

.tity::before, .tity::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  z-index: 150;
}

.tity::before {
  width: 40px; /* 십자 수평 길이 조정 */
  height: 2px; /* 십자 두께 */
  top: 50%; /* 수직 중앙 */
  left: 0;
}

.tity::after {
  width: 2px; /* 십자 수직 두께 */
  height: 40px; /* 십자 수직 길이 조정 */
  top: 0;
  left: 50%; /* 수평 중앙 */
}


.tity:nth-child(1) { top: 30%; left: 30%; animation-duration: 8s; }
.tity:nth-child(2) { top: 30%; left: 70%; animation-duration: 10s; }
.tity:nth-child(3) { top: 50%; left: 50%; animation-duration: 3s; }
.tity:nth-child(4) { top: 40%; left: 30%; animation-duration: 7s; }
.tity:nth-child(5) { top: 60%; left: 20%; animation-duration: 9s; }
.tity:nth-child(6) { top: 20%; left: 60%; animation-duration: 5s; }
.tity:nth-child(7) { top: 50%; left: 30%; animation-duration: 8s; }
.tity:nth-child(8) { top: 55%; left: 70%; animation-duration: 10s; }
.tity:nth-child(9) { top: 50%; left: 50%; animation-duration: 6s; }
.tity:nth-child(10) { top: 45%; left: 40%; animation-duration: 10s; }
.tity:nth-child(11) { top: 10%; left: 70%; animation-duration: 9s; }
.tity:nth-child(12) { top: 30%; left: 50%; animation-duration: 7s; }
.tity:nth-child(13) { top: 25%; left: 25%; animation-duration: 8s; }
.tity:nth-child(14) { top: 60%; left: 10%; animation-duration: 6s; }
.tity:nth-child(15) { top: 80%; left: 60%; animation-duration: 9s; }
.tity:nth-child(16) { top: 25%; left: 70%; animation-duration: 8s; }
.tity:nth-child(17) { top: 55%; left: 15%; animation-duration: 7s; }
.tity:nth-child(18) { top: 65%; left: 55%; animation-duration: 9s; }
.tity:nth-child(19) { top: 35%; left: 80%; animation-duration: 6s; }
.tity:nth-child(20) { top: 80%; left: 40%; animation-duration: 10s; }

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(0.6) translateY(-100px) rotate(360deg);
  }
}

/* timer */
#timer {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  font-size: 30px;
  font-family: 'NeoDunggeunmo', sans-serif; /* 폰트 패밀리 추가 */
}
/*button*/

.container{
    display: flex;
    justify-content: center;

}
.start-stop{
    width: 259px;
    height: 69px;
    padding-left: 14px;
    margin-top: 100px;
    font-size: 25px;
    font-weight: 100;
    border-radius: 50px;
    z-index: 200;
    font-family: 'NeoDunggeunmo', sans-serif; /* 폰트 패밀리 추가 */
    text-align: center;
}
.btn{
  position: absolute;
  bottom:56px;
  z-index: 100;
}
.time-text {
  font-size: 17px;
  width: 300px;
  text-align: center;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.invisible{
  position: absolute;
  display: none;
}
/*popup*/
.popup01{
  background-color: #9E949494;
  z-index: 500;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup{
  position: relative;
  width: 394px;
  height: 305px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exp-circle{
  position: relative;
  z-index: 600;
  font-weight: 100;
  font-size: 30px;
}
.circle-txt{
  position: absolute;
  bottom: 20px;
  z-index: 600;
  text-align: center;
}
.popup p{
  font-size: 15px;
  margin: 0;
  margin-top: 10px;
  z-index: 600;
}
.pop-bak{
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 200;
}

.pop-bak02{
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 300;
}
.pop-img{
  z-index: 300;
  width: 130px;
}

.popup02{

  background-color: #9E949494;
  z-index: 500;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  
}

.reward-container {
  background-color: rgba(158, 148, 148, 0.58); 
  z-index: 500;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  z-index: 1; 
  position: relative;
}


.gift-icon {
  width: 60px; 
  height: 60px;
  margin-top: -20px; 
  margin-bottom: 10px;
}

.reward-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin-top: -50px; 
  position: relative; 
  padding: 0 10px; 
}

.reward-buttons button {
  flex: 1; 
  margin: 5px;
  padding: 10px 0; 
  font-size: 15px; 
  cursor: pointer;
  border: none;
  font-family: 'NeoDunggeunmo', sans-serif; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.reward-buttons img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#claimRewardButton {
  margin-left: 12px;
}

#watchAdButton {
  margin-left: 40px;
}
.reward-popup p {
  position: absolute; 
  top: 230px; 
  font-size: 17px;
  text-align: center;
  color: #333;
  margin: 10px 0;
  z-index: 1; 
}
.reward-popup {
  width: 394px; 
  height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  border-radius: 20px;
}

.item-name {
  font-size: 10px;
  top:500px;
  text-align: center;
  color: #333;
  margin: 0;
  z-index: 1; 
}

.reward-item-image {
  margin-top:140px;
  margin-bottom:-250px;
  width: 80px;
  height: 80px;
  z-index: 700; 
}
.item-display p {
  font-size: 17px;
  text-align: center;
  color: #333;
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
  margin-top: 70px;
}
.btn-submit1 {
  position: absolute;
  top: 90px; /* 팝업의 위쪽에 위치 */
  left: 190px; /* 팝업의 왼쪽에 위치 */
  background: none;
  border: none;
  cursor: pointer;
}

.btn-submit1 img {
  width: 24px;
  height: 24px;
}