@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('../fonts/neodgm_code.woff') format('woff');
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/ad.png') no-repeat center center;
    background-size: contain;
    font-family: 'NeoDunggeunmo', Arial, sans-serif;
}
.form-submit {
    position: absolute;
    top: 30px;
    left: 250px;
}

.btn-submit {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-submit img {
    width: 70%;
    height: auto;
}