<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캐릭터 가출</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/character_missing.css' %}">
</head>
<body>
    <div class="popup-overlay" id="popup-overlay">
        <div class="popup">
            <img src="{% static 'images/popup2.png' %}" alt="Popup Background" class="popup-background">
            <div class="popup-content">
                <img src="{% static 'images/sadcharacter.png' %}" alt="Character" class="main-item">
                <div class="text">
                    오랫동안 접속하지 않으셔서<br>
                    "{{ character_name }}" 이 가출하려고 해요 😢
                </div>
                <div class="button-container">
                    <form method="post" class="reward-button">
                        {% csrf_token %}
                        <button type="submit" class="btn-reward">
                            <img src="{% static 'images/play.png' %}" class="icon">"{{ character_name }}"아 돌아와!
                        </button>
                    </form>
                    <button class="reward-button" onclick="window.location.href='{% url 'character_lost_forever' %}'">
                        "{{ character_name }}" 영영 못보기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('popup-overlay').style.display = 'flex';
    </script>
</body>
</html>
