<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캐릭터 가출</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/character_missing.css' %}">
</head>
<body>
        <div class="container">
            <div class="overlay"></div>
            <div class="header">
                <div class="level-info">
                    <span class="character-name">{{ character.name }}</span>
                    <div class="level-bar-container">
                        <span class="level-text">LV. <span id="character-level">{{ character.level }}</span></span>
                        <div class="progress-bar">
                            <div class="progress" id="progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup">
                <img src="{% static 'images/popup2.png' %}" alt="Popup Background" class="popup-background">
                <div class="popup-content">
                    <img src="{% static 'images/default.png' %}" alt="Character" class="main-item" id="character-image">
                    <div class="text">
                        오랫동안 접속하지 않으셔서<br>
                        "{{ character_name }}"이(가) 가출하려고 해요 😢
                    </div>
                    
                    <div class="button-container">
                        <form method="post" class="reward-button">
                            {% csrf_token %}
                            <button type="submit" class="btn-reward">
                                <img src="{% static 'images/play.png' %}" class="icon"> 가지말고 돌아와!
                            </button>
                        </form>
                        <button class="reward-button" onclick="window.location.href='{% url 'character_lost_forever' %}'">
                            영영 못보기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 레벨 값을 가져옴
            var characterLevel = {{ character_level|default:1|safe }};

            // 클래스를 이용하여 이미지 요소 선택
            var imageElement = document.getElementById('character-image');

            // 레벨에 따라 이미지 소스 설정 및 클래스 할당
            if (characterLevel >= 30) {
                imageElement.src = "{% static 'images/sadcharacter.png' %}";
                imageElement.className = 'main-item sadcharacter';
            } else if (characterLevel >= 5) {
                imageElement.src = "{% static 'images/cryingBaby.png' %}";
                imageElement.className = 'main-item cryingBaby';
            } else {
                imageElement.src = "{% static 'images/cryingEgg.png' %}";
                imageElement.className = 'main-item cryingEgg';
            } 
        });
    </script>
</body>
</html>
