<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/deco.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History02</title>
</head>
<body>
    
    <div class="deco-wrap">
        <button class="bak-button" type="button" onClick="history.go(-1)"><img src="{% static 'img/back-btn.svg' %}"> </button>
        
        <div class="char">
            <img class="char01-img" src="{% static 'images/character.png' %}">
        </div>
        <div class="box">
            <div class="nav-btn">
                <button class="decos-img" onclick="filterImages('all')"><img src="{% static 'img/deco/shop.svg' %}"> </button>
                <button class="shop-img" onclick="filterImages('cloth')"><img src="{% static 'img/deco/bag.svg' %}"> </button>
                <button class="jewel-img" onclick="filterImages('accessory')"><img src="{% static 'img/deco/jewel.svg' %}"> </button>
                <button class="face-img" onclick="filterImages('eyes')"><img src="{% static 'img/deco/face.svg' %}"> </button>
                <img class="nav-img" src="{% static 'img/deco/nav.svg' %}">
            </div>
            <div class="nav-box">
                <button class="one-box" type="button" onclick="toggleCharacterItem('hat', '{% static 'img/real_items/blue-hat.svg' %}', '{% static 'img/deco_items/blue-hat.svg' %}')"><img data-value="cloth" src="{% static 'img/deco_items/blue-hat.svg' %}"></button>
                <button class="one-box" type="button" onclick="toggleCharacterItem('eyes', '{% static 'img/real_items/sunglass.svg' %}', '{% static 'img/deco_items/sunglass.svg' %}')"><img data-value="eyes" src="{% static 'img/deco_items/sunglass.svg' %}"></button>
                <button class="one-box" type="button" onclick="toggleCharacterItem('accessory', '{% static 'img/real_items/red-heart.svg' %}', '{% static 'img/deco_items/red-heart.svg' %}')"><img data-value="accessory" src="{% static 'img/deco_items/red-heart.svg' %}"></button>
                <button class="one-box" type="button" onclick="toggleCharacterItem('pet', '{% static 'img/real_items/monsil.svg' %}', '{% static 'img/deco_items/monsil.svg' %}')"><img data-value="cloth" src="{% static 'img/deco_items/monsil.svg' %}"></button>
                <button class="one-box" type="button" onclick="toggleCharacterItem('accessory', '{% static 'images/flower.png' %}', '{% static 'img/deco_items/flower.svg' %}')"><img data-value="accessory" src="{% static 'img/deco_items/flower.svg' %}"></button>
                <button class="one-box" type="button" onclick="toggleCharacterItem('bag', '{% static 'img/real_items/bag.svg' %}', '{% static 'img/deco_items/bag.svg' %}')"><img data-value="cloth" src="{% static 'img/deco_items/bag.svg' %}"></button>
                <button class="one-box" type="button" onclick="toggleCharacterItem('hat', '{% static 'img/real_items/ribbon.svg' %}', '{% static 'img/deco_items/ribbon.svg' %}')"><img data-value="cloth" src="{% static 'img/deco_items/ribbon.svg' %}"></button>
                <button class="one-box" type="button" onclick="toggleCharacterItem('eyes', '{% static 'img/real_items/red-eye.svg' %}', '{% static 'img/deco_items/red-eye.svg' %}')"><img data-value="eyes" src="{% static 'img/deco_items/red-eye.svg' %}"></button>
                <button class="one-box" type="button" onclick="toggleCharacterItem('eyes', '{% static 'img/real_items/blue-eye.svg' %}', '{% static 'img/deco_items/blue-eye.svg' %}')"><img data-value="eyes" src="{% static 'img/deco_items/blue-eye.svg' %}"></button>
            </div>
        </div>
    </div>

    <script>
        function filterImages(filter) {
            var boxes = document.querySelectorAll('.nav-box .one-box');
            boxes.forEach(function(box) {
                var img = box.querySelector('img');
                if (filter === 'all' || img.getAttribute('data-value') === filter) {
                    box.style.display = 'flex';
                } else {
                    box.style.display = 'none';
                }
            });
        }

        function toggleCharacterItem(type, src, decoSrc) {
            var charDiv = document.querySelector('.char');
            var existingItem = document.querySelector(`.char .char-${type}`);
            
            if (existingItem) {
                existingItem.remove();
            } else {
                var charDiv = document.querySelector('.char');
                var button = document.createElement('div');
                var div = document.createElement('div');
                var img = document.createElement('img');
                
                button.className = 'char-item';
                div.className = `char-${type}`;
                img.src = src;
                
                div.appendChild(img);
                button.appendChild(div);
                charDiv.appendChild(button);
            }
        }
    </script>
</body>
</html>
