{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/timer.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <script>
        let timer;
        let elapsedTime = {{ character.last_elapsed_time }};
        let timerStarted = false; // 타이머 시작 여부
        const maxTime = 10; // progress bar의 max 값과 같아야 합니다.
        let exp = {{ character.experience }};
        let rewardEligible = false; // 보상 여부

        // 시, 분, 초 형식으로 변환하는 함수
        function formatTime(seconds) {
            const hours = String(Math.floor(seconds / 3600)).padStart(2, '0');
            const minutes = String(Math.floor((seconds % 3600) / 60)).padStart(2, '0');
            const secs = String(seconds % 60).padStart(2, '0');
            return `${hours}:${minutes}:${secs}`;
        }

        // 타이머 시작 함수
        function startTimer() {
            if (!timerStarted) return; // 타이머가 시작된 적이 없다면 return
            if (!timer) {
                timer = setInterval(() => {
                    elapsedTime += 1;
                    document.getElementById("timer").innerText = formatTime(elapsedTime);
                    updateProgressBar(elapsedTime);  // progress 바 업데이트
                }, 1000);
            }
        }

        // 타이머 정지 함수
        function stopTimer() {
            if (timer) {
                clearInterval(timer);
                timer = null;
                sendElapsedTime().then((data) => {
                    exp = data.experience;
                
                    // popup02 내용 업데이트
                    const popup02 = document.querySelector('.popup02 .popup');
                    popup02.innerHTML = `
                        <h2 class="exp-circle">+${exp}</h2> 
                        <div class="circle-txt">
                            <p>총 ${data.hours}시간 ${data.minutes}분 ${data.seconds}초 집중했고</p>
                            <p>+${exp} 경험치를 얻었어요!</p>
                            <p>축하해요 🎉</p>
                        </div>
                        <img class="pop-bak02" src="{% static 'img/circle-bak-for.svg' %}">
                    `;
                    
                    // 보상 수령 가능할 경우 reward-container 표시
                    if (data.reward_eligible) {
                        rewardEligible = true;
                        document.querySelector('.reward-container').style.display = 'flex'; // 보상 컨테이너 표시
                    }
                });
            }
        }
        
        // 타이머 일시 정지 함수
        function pauseTimer() {
            if (timer) {
                clearInterval(timer);
                timer = null;
            }
        }

        // 경과 시간 서버 전송 함수
        function sendElapsedTime() {
            return fetch("{% url 'timer_page' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({elapsed_time: elapsedTime})
            }).then(response => response.json()).then(data => {
                console.log(data);
                document.getElementById("experience").innerText = "Experience: " + data.experience;
                document.getElementById("level").innerText = "Level: " + data.level;
                document.getElementById("stage").innerText = "Stage: " + data.stage;
                return data; // 서버 응답 데이터를 반환
            });
        }

        // progress 바 업데이트 함수
        function updateProgressBar(time) {
            const progressBar = document.getElementById('time-bar');
            progressBar.value = time % maxTime; // time을 maxTime으로 나눈 나머지 값을 value로 설정
        }

        // 접속 보상
        function claimReward() {
            if (rewardEligible) {
                fetch("{% url 'claim_reward' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(response => response.json()).then(data => {
                    if (data.item) {
                        // Update the popup to show the received item
                        document.querySelector('.reward-popup').innerHTML = `
                    <div class="item-display onclick='popup01None()">
                    <button type="submit" class="btn-submit1">
                    <a href="{% url 'timer_page' %}">
                        <img src="{% static 'images/X.png' %}" alt="Close Ad">
                    </a>
                </button>
                        <img src="${data.image}" alt="${data.item}" class="reward-item-image">
                        <p>“{{ character.name }}”의 선물을 받았어요!<br>“${data.item}”</p>
                    </div>
                    <img src="{% static 'images/giftpopup2.png' %}" alt="Gift Popup Background" class="popup-background">
                ` 
                        document.getElementById('claimRewardButton').style.display = 'none';
                        document.getElementById('watchAdButton').style.display = 'none';
                        rewardEligible = false;
                    }
                });
            }
        }

                // 광고 보기 버튼
                function watchAd() {
                    console.log("watchAd function called");
                    if (rewardEligible) {
                        console.log("rewardEligible is true");
                        fetch("{% url 'watch_ad_reward' %}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        }).then(response => response.json()).then(data => {
                            console.log("Response from watch_ad_reward:", data);
                            if (data.item_name) {
                                const form = document.createElement('form');
                                form.method = 'POST';
                                form.action = "{% url 'watch_ad2' %}";
                                form.innerHTML = `
                                    <input type="hidden" name="item_name" value="${data.item_name}">
                                    <input type="hidden" name="item_image" value="${data.item_image}">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                `;
                                document.body.appendChild(form);
                                form.submit();
                            } else {
                                console.log("No item_name in response data");
                            }
                        });
                    } else {
                        window.location.href = "{% url 'watch_ad2' %}";
                    }
                }

        // 이벤트 리스너
        window.onload = function() {
            document.getElementsByClassName("start-stop")[0].addEventListener("click", function() {
                timerStarted = !timerStarted;
                if (timerStarted) {
                    startTimer();
                    document.getElementById("start").innerText = 'S T O P !';
                    document.getElementsByClassName('popup01')[0].style.display = 'flex'; // popup01를 표시
                } else {
                    stopTimer();
                    document.getElementById("start").innerText = 'S T A R T !';
                    document.getElementsByClassName('popup02')[0].style.display = 'flex'; // popup02를 표시
                }
            });
            document.getElementById("timer").innerText = formatTime(elapsedTime); // 초기 타이머 값을 변환하여 표시
            document.getElementById("claimRewardButton").addEventListener("click", claimReward);
            document.getElementById("watchAdButton").addEventListener("click", watchAd);
        };
        
        // 페이지 포커스 시 타이머 재개
        window.onfocus = function() {
            if (timerStarted) {
                startTimer();
            }
        };

        // 페이지 포커스 벗어날 시 타이머 일시 정지
        window.onblur = function() {
            if (timerStarted) {
                pauseTimer();
            }
        };

        // 타이머 자정 초기화 함수
        function resetAtMidnight() {
            let now = new Date();
            let resetTime = new Date(now);
            resetTime.setHours(0, 0, 0, 0);

            if (now > resetTime) {
                resetTime.setDate(resetTime.getDate() + 1);
            }

            let timeUntilReset = resetTime.getTime() - now.getTime();

            setTimeout(() => {
                sendElapsedTime(); // 경험치 반영 후 타이머 초기화
                elapsedTime = 0;
                document.getElementById("timer").innerText = "0 seconds";
                updateProgressBar(elapsedTime); // progress 바 초기화
                resetAtMidnight();
            }, timeUntilReset);
        }

        resetAtMidnight();

        // 팝업 삭제
        function popup01None() {
            const div1 = document.getElementsByClassName('popup01')[0];
            div1.style.display = 'none';
        } 
        function popup02None() {
            const div1 = document.getElementsByClassName('popup02')[0];
            div1.style.display = 'none';
        }  
    </script>
</head>
<body>
    <div class="timer-wrap">
        <button class="bak-button" type="button" onClick="history.go(-1)">
            <img src={% static 'img/back-btn.svg' %}>
        </button>
        <div class="invisible">
            <h3 id="level">Level: {{ character.level }}</h3>
            <h3 id="experience">Experience: {{ character.experience }}</h3>
            <h3 id="stage">Stage: {{ character.stage }}</h3>
        </div>
        <div class="time-bar">
            <progress id="time-bar" value="0" max="10"></progress>
        </div>
        <p class="time-text">집중에 성공하면 경험치를 획득해요!</p>
        <div class="bubble-wrap">
            <div class="bubble"></div>
            <div class="tity"></div>
            <div class="bubble"></div>
            <div class="tity"></div>
            <div class="bubble"></div>
            <div class="tity"></div>
            <div class="bubble"></div>
            <div class="tity"></div>
            <div class="bubble"></div>
            <div class="tity"></div>
            <div class="bubble"></div>
            <div class="tity"></div>
            <div class="bubble"></div>
            <div class="tity"></div>
            <div class="bubble"></div>
            <div class="tity"></div>
            <div class="bubble"></div>
            <div class="tity"></div>
            <div class="bubble"></div>
            <div class="tity"></div>
            <div class="bubble"></div>
            <div class="tity"></div>

            <p id="timer">{{ character.last_elapsed_time }}:{{ character.last_elapsed_time }}/60:{{ character.last_elapsed_time }} </p>
            <img class="bubble-img" src={% static 'img/circle-bak.svg' %}>
        </div>

        <div class="container">
            <button id="start" class="start-stop">S T A R T !</button>
            <img class="btn" src={% static 'img/btn.svg' %}>
        </div>

        <div class="reward-container" style="display: none;">
            <div class="reward-popup">
                <img src="{% static 'images/giftpopup.png' %}" alt="Gift Popup Background" class="popup-background">
                <p>4시간 이상 집중해서<br>“{{ character.name }}”의 선물이 도착했어요!</p>
                <div class="reward-buttons">
                    <button id="claimRewardButton">
                        <img src="{% static 'images/gift.png' %}" alt="Gift Icon"> 선물 받기
                    </button>
                    <button id="watchAdButton">
                        <img src="{% static 'images/play.png' %}" alt="Play Icon"> 선물 2배로 받기
                    </button>
                    <p id="rewardMessage"></p>
                </div>
            </div>
        </div>

        <div class="popup01" onclick='popup01None()'>
            <div class="popup">
                <img class="pop-img" src={% static 'img/main-char.svg' %}>
                <p>“{{ character.name }}"이(가)</p>
                <p>당신의 디지털 디톡스를 응원해요!💪🏻</p>
                <img class="pop-bak" src={% static 'img/circle-bak02.png' %}>
                <img class="pop-bak" src={% static 'img/circle-bak01.png' %}>
            </div>
        </div>
        <div class="popup02" onclick='popup02None()'>
            <div class="popup">
            </div>
        </div>
    </div>
    <script>
             document.addEventListener('DOMContentLoaded', function() {
    // 레벨 값을 가져옴 
    var characterLevel = {{ character.level|default:1 }};

    // 클래스를 이용하여 이미지 요소 선택
    var imageElement = document.querySelector('.popup01 .pop-img');
    
    // 레벨에 따라 이미지 소스 설정
    if (characterLevel >= 30) {
        imageElement.src = "{% static 'images/adult.png' %}";
    } else if (characterLevel >= 5) {
        imageElement.src = "{% static 'images/child.png' %}";
    } else {
        imageElement.src = "{% static 'images/default.png' %}";
    }
});

    </script>
</body>
</html>
