<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 새로 만들었어요</title>
</head>
<body>
    <div class="character-info">
        <h1>{{ character.name }}</h1>
        <p>레벨: {{ character.level }}</p>
    </div>
    <div class="button-container">
        <a href="{% url 'history_page' %}">히스토리</a>
        <a href="{% url 'timer_page' %}">타이머</a>
        <a href="{% url 'deco' %}">드레스룸</a>
    </div>
</body>
</html>
